.article ul {
  list-style-type: none;
  padding: 0;
}

.article ul li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.article ul li strong {
  color: #333;
  font-size: 18px;
}

.article ul li em {
  color: #777;
  font-style: italic;
}
